$light-gray: #d3d3d3;
$dark-gray: #a9a9a9;
$positive-number: #4bdc31;
$negative-number: #dc3931;
$nav-button-color: #00aaff;
$cold: #eeeeee;
$gray: #d8d2cb;
$dark-blue: #1c658c;
$light-blue: #398ab9;
